.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.product-card {
  flex: 1 1 250px;
  max-width: 300px;
  border: 1px solid #c7b7b7;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #f4eaea;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 8px;
  object-fit: cover;
}

.product-info h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.product-link {
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  color: #956027;
}

.product-button {
  color: rgb(31, 78, 78);
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f0e6dc;
  border-radius: 5px;
  cursor: pointer;
}
