.footer {
  font-family: "Bagel Fat One", system-ui;
  background-color: #996558;
  color: #333;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s;
}

.footer-links a:hover {
  color: #d48f7e;
}

/* Our media queries */
@media (max-width: 768px) {
  .footer {
    height: auto;
    padding: 40px 20px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}
