.merch-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  font-family: "Bagel Fat One", system-ui;
  font-size: 20px;
  font-weight: 200;
}

.merch-card {
  flex: 1 1 200px;
  max-width: 300px;
  border: 1px solid #c7b7b7;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #f4eaea;
}

.merch-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
  border-radius: 8px;
  object-fit: cover;
}

.merch-info h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #cf8433; /*this one the header */
}

.merch-info p {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #956027; /* the one the paragraph/desc*/
}

.merch-link {
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  color: #cf8433;
}

.merch-button {
  font-family: "Bagel Fat One", system-ui;
  font-size: 20px;
  font-weight: 200;
  color: #996558;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #ebbf92;
  border-radius: 5px;
  cursor: pointer;
}

.merch-button a:hover {
  color: #8b4513;
}
